import java.time.*
Date now = new Date()

process.cache = "lenient"

workDir = '/scratch4/eande106/'


params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
}

profiles {

    standard { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/rockfish.config' }
    pca { includeConfig 'conf/pca.rf.config' }

}


timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}

process {
    executor = 'slurm'
    queue = 'parallel'
    clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt'
    queueSize = 100

    // conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
    withLabel: R {
        container = "andersenlab/r_packages:latest"
    }

    withLabel: postgatk {
        container = "andersenlab/postgatk:latest"
    }

    withLabel: pca {
        container = "andersenlab/pca:latest"
    }

    withLabel: tree {
        container = "andersenlab/tree:latest"
    }
}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/vast/eande106/singularity"
}



