import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
	pca = false
	postgatk = true
    delly = true
    singletons = false
    debug = false
    help = false
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/quest.config' }
    local { includeConfig 'conf/local.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
