/*
    Quest Configuration
*/

params{
    baseDir = '/projects/b1042/AndersenLab'
    workDir = '${baseDir}/work'
    dataDir = '${baseDir}/data'
    softwareDir = '${baseDir}/software'
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 2:00:00 -e errlog.txt'
    queueSize = 100

    withLabel: R {
        container = "andersenlab/r_packages:latest"
    }

    withLabel: postgatk {
        container = "andersenlab/postgatk:latest"
    }

    withLabel: pca {
        container = "andersenlab/pca:latest"
    }

    withLabel: tree {
        container = "andersenlab/tree:latest"
    }

    withLabel: vcftools {
        container = "biocontainers/vcftools:v0.1.16-1-deb_cv1"
    }
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1059/singularity"
}

