/*
    Quest Configuration
*/

params{
    baseDir = '/projects/b1042/AndersenLab'
    workDir = '${baseDir}/work'
    dataDir = '${baseDir}/data'
    softwareDir = '${baseDir}/software'
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 2:00:00 -e errlog.txt'
    queueSize = 100

    withLabel: R {
        container = "andersenlab/r_packages:latest"
    }

    withLabel: postgatk {
        container = "andersenlab/postgatk:latest"
    }

    withLabel: pca {
        container = "andersenlab/pca:latest"
    }

    withLabel: tree {
        container = "andersenlab/tree:latest"
    }

    withLabel: vcftools {
        container = "biocontainers/vcftools:v0.1.16-1-deb_cv1"
    }

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 4
        memory = 8.GB
        // memory = 8.GB + 8.GB * task.attempt // does this work here? - NO

    }

    withLabel: lg {
        cpus = 1
        memory = 12.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1059/singularity"
}

