/*
    Quest Configuration
*/




// params {
	
//     /* Adjust these parameters to set the reference genome */
//     reference_base = "/projects/b1059/data/"
//     species="c_elegans"
//     project="PRJNA13758"
// 	ws_build="WS276"
	
//     /* Keep these static ~ They should not need to be updated */
//     reference_dir = "${reference_base}/${species}/genomes/${project}/${ws_build}"
//     reference = "${reference_dir}/${species}.${project}.${ws_build}.genome.fa.gz"

//     snpeff_reference = "${species}.${project}.${ws_build}"
//     snpeff_dir = "${reference_dir}/snpeff"
//     snpeff_config = "${reference_dir}/snpeff/snpEff.config"

//     csq_gff = "${reference_dir}/csq/${species}.${project}.${ws_build}.csq.gff3.gz"
//     AA_score = "${reference_dir}/csq/${species}.${project}.${ws_build}.AA_Scores.tsv"
//     AA_length = "${reference_dir}/csq/${species}.${project}.${ws_build}.AA_Length.tsv"

//     dust_bed = "${reference_dir}/lcr/${species}.${project}.${ws_build}.dust.bed.gz"
//     repeat_masker_bed = "${reference_dir}/lcr/${species}.${project}.${ws_build}.repeat_masker.bed.gz"

// }



executor {
    queueSize=500
    submitRateLimit=10
}


