/*
    Rockfish Configuration
*/

params {
    baseDir = '/vast/eande106'
    workDir = '${baseDir}/work'
    dataDir = '${baseDir}/data'
    softwareDir = '/data/eande106/software'
}

process {
    executor = 'slurm'
    queueSize = 100

    withLabel: R {
        container = "andersenlab/r_packages:latest"
    }

    withLabel: postgatk {
        container = "andersenlab/postgatk:latest"
    }

    withLabel: pca {
        container = "andersenlab/pca:latest"
    }

    withLabel: tree {
        container = "andersenlab/tree:latest"
    }

    withLabel: bioconvert {
        container = "bioconvert/bioconvert:latest"
    }

    withLabel: vcftools {
        container = "biocontainers/vcftools:v0.1.16-1-deb_cv1"
    }

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 1
        memory = "4G"
        queue = "shared"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 2
        memory = "8G"
        queue = "shared"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 4
        memory = "16G"
        queue = "shared"
    }

    withLabel: ml {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 8
        memory = "32G"
        queue = "shared"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 --ntasks-per-node 1 --cpus-per-task 48'
        // cpus = 48
        //memory = "190G"
        queue = "parallel"
    }

    withLabel: xl {
        clusterOptions = '-A eande106_bigmem -t 4:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = "1500G"
        queue = "bigmem"
    }

}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

workflow {
    workDir = "/scratch4/eande106"
}

