/*
    Rockfish Configuration
*/

params {
    baseDir = '/vast/eande106'
    workDir = '${baseDir}/work'
    dataDir = '${baseDir}/data'
    softwareDir = '/data/eande106/software'
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 2:00:00 -e errlog.txt'
    queueSize = 100

    withLabel: R {
        container = "andersenlab/r_packages:latest"
    }

    withLabel: postgatk {
        container = "andersenlab/postgatk:latest"
    }

    withLabel: pca {
        container = "andersenlab/pca:latest"
    }

    withLabel: tree {
        container = "andersenlab/tree:latest"
    }

    withLabel: bioconvert {
        container = "bioconvert/bioconvert:0.6.1"
    }

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 1 --mem 4G'
        cpus = 1
        memory = 4.GB
        queue = "shared"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 2 --mem 8G'
        cpus = 2
        memory = 8.GB
        queue = "shared"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 4 --mem 16G'
        cpus = 4
        memory = 16.GB
        queue = "shared"
    }

    withLabel: ml {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 8'
        cpus = 8
        memory = 32.GB
        queue = "shared"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 48 --mem 190G'
        cpus = 48
        memory = 190.GB
        queue = "parallel"
    }

    withLabel: xl {
        clusterOptions = '-A eande106_bigmem -t 4:00:00 -e errlog.txt -N 1 -n 48 --mem 1500G'
        cpus = 48
        memory = 1500.GB
        queue = "bigmem"
    }

}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

